### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# 1. Análisis de facturación

In [3]:
ingreso_total_tienda1 = sum(tienda['Precio'])
ingreso_total_tienda2 = sum(tienda2['Precio'])
ingreso_total_tienda3 = sum(tienda3['Precio'])
ingreso_total_tienda4 = sum(tienda4['Precio'])
print(f"Ingreso total de las tiendas: \n Tienda 1: {ingreso_total_tienda1}\n Tienda 2: {ingreso_total_tienda2}\n Tienda 3: {ingreso_total_tienda3}\n Tienda 4: {ingreso_total_tienda4}")

Ingreso total de las tiendas:
 Tienda 1: 1150880400.0
 Tienda 2: 1116343500.0
 Tienda 3: 1098019600.0
 Tienda 4: 1038375700.0

# 2. Ventas por categoría

In [10]:
ventas_por_categoria_tienda1 = tienda.groupby('Categoría del Producto').size().reset_index(name= 'Cantidad vendida')
ventas_ordenadas = ventas_por_categoria_tienda1.sort_values(by='Cantidad vendida', ascending=False)
ventas_ordenadas

    Categoría del Producto  Cantidad vendida
7                  Muebles               465
3             Electrónicos               448
5                 Juguetes               324
2        Electrodomésticos               312
1     Deportes y diversión               284
4   Instrumentos musicales               182
6                   Libros               173
0  Artículos para el hogar               171

In [9]:
ventas_por_categoria_tienda2 = tienda2.groupby('Categoría del Producto').size().reset_index(name= 'Cantidad vendida')
ventas_ordenadas = ventas_por_categoria_tienda2.sort_values(by='Cantidad vendida', ascending=False)
ventas_ordenadas

    Categoría del Producto  Cantidad vendida
7                  Muebles               442
3             Electrónicos               422
5                 Juguetes               313
2        Electrodomésticos               305
1     Deportes y diversión               275
4   Instrumentos musicales               224
6                   Libros               197
0  Artículos para el hogar               181

In [8]:
ventas_por_categoria_tienda3 = tienda3.groupby('Categoría del Producto').size().reset_index(name= 'Cantidad vendida')
ventas_ordenadas = ventas_por_categoria_tienda3.sort_values(by='Cantidad vendida', ascending=False)
ventas_ordenadas

    Categoría del Producto  Cantidad vendida
7                  Muebles               499
3             Electrónicos               451
5                 Juguetes               315
2        Electrodomésticos               278
1     Deportes y diversión               277
6                   Libros               185
0  Artículos para el hogar               177
4   Instrumentos musicales               177

In [7]:
ventas_por_categoria_tienda4 = tienda4.groupby('Categoría del Producto').size().reset_index(name= 'Cantidad vendida')
ventas_ordenadas = ventas_por_categoria_tienda4.sort_values(by='Cantidad vendida', ascending=False)
ventas_ordenadas

    Categoría del Producto  Cantidad vendida
7                  Muebles               480
3             Electrónicos               451
5                 Juguetes               338
1     Deportes y diversión               277
2        Electrodomésticos               254
0  Artículos para el hogar               201
6                   Libros               187
4   Instrumentos musicales               170

# 3. Calificación promedio de la tienda

In [22]:
promedio = tienda['Calificación'].mean()
print(f"Calificación promedio de la tienda 1: {promedio:.2f}")

Calificación promedio de la tienda 1: 3.98

In [21]:
promedio = tienda2['Calificación'].mean()
print(f"Calificación promedio de la tienda 2: {promedio:.2f}")

Calificación promedio de la tienda 2: 4.04

In [23]:
promedio = tienda3['Calificación'].mean()
print(f"Calificación promedio de la tienda 3: {promedio:.2f}")

Calificación promedio de la tienda 3: 4.05

In [24]:
promedio = tienda4['Calificación'].mean()
print(f"Calificación promedio de la tienda 4: {promedio:.2f}")

Calificación promedio de la tienda 4: 4.00

# 4. Productos más y menos vendidos

In [27]:
cantidad_productos_vendidos = tienda.groupby('Producto').size().reset_index(name='Cantidad productos')
productos_ordenados = cantidad_productos_vendidos.sort_values(by='Cantidad productos', ascending=False)
productos_ordenados

                       Producto  Cantidad productos
48                TV LED UHD 4K                  60
33                   Microondas                  60
1                       Armario                  60
40             Secadora de ropa                  58
9       Bloques de construcción                  56
32                Mesa de noche                  56
5           Balón de baloncesto                  55
50                 Vaso térmico                  54
23                    Impresora                  54
39                 Refrigerador                  54
8                     Bicicleta                  54
7                       Batería                  53
12    Carrito de control remoto                  52
15                   Cubertería                  52
35          Modelado predictivo                  51
3                   Auriculares                  50
0             Ajedrez de madera                  49
25                    Iphone 15                  49
29                 Lavavajillas                  48
22           Guitarra eléctrica                  47
28             Lavadora de ropa                  47
21            Guitarra acústica                  46
43             Silla de oficina                  46
47              Sofá reclinable                  46
20                       Estufa                  45
30               Mesa de centro                  44
10                     Cama box                  44
16              Cubo mágico 8x8                  44
27                Kit de bancas                  44
11                    Cama king                  44
45                     Smart TV                  44
26                Juego de mesa                  43
41                 Set de ollas                  43
46                   Smartwatch                  43
6             Balón de voleibol                  42
49                  Tablet ABXY                  42
18      Dashboards con Power BI                  42
44                       Sillón                  41
24    Iniciando en programación                  41
42                 Set de vasos                  41
2             Asistente virtual                  40
17           Cuerda para saltar                  40
36                  Muñeca bebé                  40
31              Mesa de comedor                  40
19               Dinosaurio Rex                  40
14  Ciencia de datos con Python                  39
34                      Mochila                  39
38                    Pandereta                  36
37              Olla de presión                  35
4     Auriculares con micrófono                  33
13                 Celular ABXY                  33

In [28]:
cantidad_productos_vendidos = tienda2.groupby('Producto').size().reset_index(name='Cantidad productos')
productos_ordenados = cantidad_productos_vendidos.sort_values(by='Cantidad productos', ascending=False)
productos_ordenados

                       Producto  Cantidad productos
24    Iniciando en programación                  65
33                   Microondas                  62
7                       Batería                  61
38                    Pandereta                  58
21            Guitarra acústica                  58
40             Secadora de ropa                  57
25                    Iphone 15                  55
9       Bloques de construcción                  54
1                       Armario                  54
41                 Set de ollas                  52
17           Cuerda para saltar                  50
43             Silla de oficina                  49
39                 Refrigerador                  49
28             Lavadora de ropa                  49
36                  Muñeca bebé                  48
22           Guitarra eléctrica                  47
50                 Vaso térmico                  47
10                     Cama box                  47
12    Carrito de control remoto                  47
42                 Set de vasos                  46
6             Balón de voleibol                  46
35          Modelado predictivo                  46
29                 Lavavajillas                  46
16              Cubo mágico 8x8                  45
11                    Cama king                  45
48                TV LED UHD 4K                  45
8                     Bicicleta                  45
30               Mesa de centro                  45
34                      Mochila                  45
27                Kit de bancas                  45
0             Ajedrez de madera                  45
4     Auriculares con micrófono                  44
46                   Smartwatch                  44
49                  Tablet ABXY                  44
37              Olla de presión                  44
32                Mesa de noche                  44
47              Sofá reclinable                  44
18      Dashboards con Power BI                  43
14  Ciencia de datos con Python                  43
5           Balón de baloncesto                  42
19               Dinosaurio Rex                  42
20                       Estufa                  42
13                 Celular ABXY                  41
45                     Smart TV                  40
15                   Cubertería                  39
2             Asistente virtual                  38
3                   Auriculares                  37
44                       Sillón                  35
23                    Impresora                  34
31              Mesa de comedor                  34
26                Juego de mesa                  32

In [29]:
cantidad_productos_vendidos = tienda3.groupby('Producto').size().reset_index(name='Cantidad productos')
productos_ordenados = cantidad_productos_vendidos.sort_values(by='Cantidad productos', ascending=False)
productos_ordenados

                       Producto  Cantidad productos
27                Kit de bancas                  57
11                    Cama king                  56
31              Mesa de comedor                  56
32                Mesa de noche                  55
41                 Set de ollas                  55
45                     Smart TV                  54
35          Modelado predictivo                  53
20                       Estufa                  53
17           Cuerda para saltar                  53
26                Juego de mesa                  52
12    Carrito de control remoto                  52
8                     Bicicleta                  52
29                 Lavavajillas                  52
38                    Pandereta                  51
5           Balón de baloncesto                  50
23                    Impresora                  50
39                 Refrigerador                  50
1                       Armario                  49
6             Balón de voleibol                  48
49                  Tablet ABXY                  48
37              Olla de presión                  47
44                       Sillón                  47
21            Guitarra acústica                  47
0             Ajedrez de madera                  47
43             Silla de oficina                  46
46                   Smartwatch                  46
25                    Iphone 15                  46
24    Iniciando en programación                  46
10                     Cama box                  46
19               Dinosaurio Rex                  46
14  Ciencia de datos con Python                  46
47              Sofá reclinable                  45
40             Secadora de ropa                  45
16              Cubo mágico 8x8                  44
13                 Celular ABXY                  44
3                   Auriculares                  43
28             Lavadora de ropa                  42
30               Mesa de centro                  42
48                TV LED UHD 4K                  42
7                       Batería                  41
18      Dashboards con Power BI                  40
36                  Muñeca bebé                  39
15                   Cubertería                  39
4     Auriculares con micrófono                  39
2             Asistente virtual                  39
22           Guitarra eléctrica                  38
50                 Vaso térmico                  38
34                      Mochila                  36
33                   Microondas                  36
42                 Set de vasos                  36
9       Bloques de construcción                  35

In [30]:
cantidad_productos_vendidos = tienda4.groupby('Producto').size().reset_index(name='Cantidad productos')
productos_ordenados = cantidad_productos_vendidos.sort_values(by='Cantidad productos', ascending=False)
productos_ordenados

                       Producto  Cantidad productos
10                     Cama box                  62
15                   Cubertería                  59
18      Dashboards con Power BI                  56
11                    Cama king                  56
31              Mesa de comedor                  55
32                Mesa de noche                  55
12    Carrito de control remoto                  55
9       Bloques de construcción                  54
45                     Smart TV                  54
38                    Pandereta                  52
35          Modelado predictivo                  50
23                    Impresora                  50
5           Balón de baloncesto                  50
41                 Set de ollas                  50
2             Asistente virtual                  50
36                  Muñeca bebé                  48
33                   Microondas                  48
26                Juego de mesa                  48
25                    Iphone 15                  48
50                 Vaso térmico                  48
6             Balón de voleibol                  48
7                       Batería                  48
20                       Estufa                  47
16              Cubo mágico 8x8                  47
19               Dinosaurio Rex                  47
47              Sofá reclinable                  47
42                 Set de vasos                  46
37              Olla de presión                  46
49                  Tablet ABXY                  45
44                       Sillón                  45
8                     Bicicleta                  45
30               Mesa de centro                  44
3                   Auriculares                  44
24    Iniciando en programación                  43
34                      Mochila                  43
29                 Lavavajillas                  43
17           Cuerda para saltar                  43
27                Kit de bancas                  42
4     Auriculares con micrófono                  42
40             Secadora de ropa                  40
43             Silla de oficina                  40
48                TV LED UHD 4K                  40
46                   Smartwatch                  39
13                 Celular ABXY                  39
0             Ajedrez de madera                  39
39                 Refrigerador                  38
14  Ciencia de datos con Python                  38
28             Lavadora de ropa                  38
21            Guitarra acústica                  37
1                       Armario                  34
22           Guitarra eléctrica                  33

# 5. Envío promedio por tienda