### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# 1. Análisis de facturación

In [3]:
ingreso_total_tienda1 = sum(tienda['Precio'])
ingreso_total_tienda2 = sum(tienda2['Precio'])
ingreso_total_tienda3 = sum(tienda3['Precio'])
ingreso_total_tienda4 = sum(tienda4['Precio'])
print(f"Ingreso total de las tiendas: \n Tienda 1: {ingreso_total_tienda1}\n Tienda 2: {ingreso_total_tienda2}\n Tienda 3: {ingreso_total_tienda3}\n Tienda 4: {ingreso_total_tienda4}")

Ingreso total de las tiendas:
 Tienda 1: 1150880400.0
 Tienda 2: 1116343500.0
 Tienda 3: 1098019600.0
 Tienda 4: 1038375700.0

# 2. Ventas por categoría

In [10]:
ventas_por_categoria_tienda1 = tienda.groupby('Categoría del Producto').size().reset_index(name= 'Cantidad vendida')
ventas_ordenadas = ventas_por_categoria_tienda1.sort_values(by='Cantidad vendida', ascending=False)
ventas_ordenadas

    Categoría del Producto  Cantidad vendida
7                  Muebles               465
3             Electrónicos               448
5                 Juguetes               324
2        Electrodomésticos               312
1     Deportes y diversión               284
4   Instrumentos musicales               182
6                   Libros               173
0  Artículos para el hogar               171

In [9]:
ventas_por_categoria_tienda2 = tienda2.groupby('Categoría del Producto').size().reset_index(name= 'Cantidad vendida')
ventas_ordenadas = ventas_por_categoria_tienda2.sort_values(by='Cantidad vendida', ascending=False)
ventas_ordenadas

    Categoría del Producto  Cantidad vendida
7                  Muebles               442
3             Electrónicos               422
5                 Juguetes               313
2        Electrodomésticos               305
1     Deportes y diversión               275
4   Instrumentos musicales               224
6                   Libros               197
0  Artículos para el hogar               181

In [8]:
ventas_por_categoria_tienda3 = tienda3.groupby('Categoría del Producto').size().reset_index(name= 'Cantidad vendida')
ventas_ordenadas = ventas_por_categoria_tienda3.sort_values(by='Cantidad vendida', ascending=False)
ventas_ordenadas

    Categoría del Producto  Cantidad vendida
7                  Muebles               499
3             Electrónicos               451
5                 Juguetes               315
2        Electrodomésticos               278
1     Deportes y diversión               277
6                   Libros               185
0  Artículos para el hogar               177
4   Instrumentos musicales               177

In [7]:
ventas_por_categoria_tienda4 = tienda4.groupby('Categoría del Producto').size().reset_index(name= 'Cantidad vendida')
ventas_ordenadas = ventas_por_categoria_tienda4.sort_values(by='Cantidad vendida', ascending=False)
ventas_ordenadas

    Categoría del Producto  Cantidad vendida
7                  Muebles               480
3             Electrónicos               451
5                 Juguetes               338
1     Deportes y diversión               277
2        Electrodomésticos               254
0  Artículos para el hogar               201
6                   Libros               187
4   Instrumentos musicales               170

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda